<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2.1C</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <input type="string" v-model="newItem" placeholder="Add something.">
        <button @click="addItem">Add</button>

        <div v-if="items.length == 0">
            No items in the list.
        </div>
        <ul v-else>
            <li v-for="item in items" :key="item">{{ item }}</li>
        </ul>
    </div>

    <script src="java.js"></script>
</body>

</html>