<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.2C</title>
    <link rel="stylesheet" href="Q2.css">
    <script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.js"></script>
</head>

<body>
    <div id="todo-app">
        <input type="text" v-model="newTodo" placeholder="Add something new" @keyup.enter="addTodo">
        <button @click="addTodo">Add this</button>

        <ul>
            <li v-for="(todo, index) in todos" :key="index">
                <input type="checkbox" v-model="todo.completed"> {{ todo.text }}
                <button v-if="todo.completed" @click="deleteTodo(index)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="Q2.js"></script>
</body>

</html>